@import '../../../consts/vars.scss';

.btn {
	padding: 0.39rem 0.39rem;
    border: 0.05rem solid $main-border-gold;
    border-radius: 0.45rem;
    color: $main-font-black;
    background-color: $main-border-gold;
    font-size: 0.89rem;
    font-weight: bold;
}

