@import '../../consts/vars.scss';

.projectCard {
	width: 48%;
	margin-bottom: 0.5rem;
	padding: 2.22rem;
	border: 0.11rem solid $main-border-gold;
	border-radius: 0.44rem 0.44rem;
	box-shadow: inset 0px 0px 10px rgba(147, 147, 147, 0.5);
	color: $main-font-black;
	text-align: center;
}