.nameSection {
	display: flex;
	justify-content: space-between;
	justify-items: center;
}

.actionButtons {
	display: none;
}

// .active {
// 	background-color: $secondary-border-green !important;
// 	color: white !important;
// }
