// @import '../../consts/vars.scss';

// .containerSection {
// 	width: 100%;
// }

// .inputWithBtn {
// 	position: relative;
// 	padding: 0%;
	
// 	input {
// 		width: 100%;
// 		height: 100%;
// 		max-width: 100%;
// 		border: none;
// 		border-radius: 0%;
// 		text-align: left;
// 	}
// 	button {
// 		position: absolute;
// 		right: 10px;
// 		top: 0;
// 		height: 100%;
// 	}
// }

// .childrenSection {
// 	padding: 0%;

// 	td {
// 		text-align: center;
// 		cursor: pointer;
// 	}
// }
	
