@import '../../consts/vars.scss';

.selectGrupp {
    display: flex;
    max-width: 9%;
    margin: auto;
    padding-top: 0.5rem;
    button {
        padding: 0.2rem 0.7rem;
        border: 0.05rem solid $main-border-gold;
        border-radius: 0.45rem;
        color: $main-font-black;
        font-size: 0.89rem;
        font-weight: bold;
    }
}

.addItem {
    display: grid;
    grid-template-columns: 70% 12% 12% 6%;
    position: relative;
    input {
        margin: 0.5rem;
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: 0.10rem solid $main-border-gold;
        border-radius: 0%;
        text-align: center;
    }
}

.suggestions {
    position: absolute;
    top: 2.22rem;
    left: 0rem;
    width: 100%;
    
    background-color: $secondary-background-grey;
    .suggestion {
        padding: 10px;
        cursor: pointer;
    }
}

.addMore {
    width: 1.8rem;
    height: 1.8rem;
    border: 0.11rem solid $main-border-gold;
    border-radius: 50%;
    font-size: 1.2rem;
    text-decoration: none;
    &:hover {
        border: 0.11rem solid $secondary-border-green;    
    }
}

