.PriceDetailsAdd {
    display: flex;
    flex-direction: column;
}

.PriceDetailsName {
    margin-top: 1rem;
    border-bottom: 0.11rem solid rgb(255, 192, 75);
}

.PriceDetailsNum {
    display: inline-flex;
    margin-bottom: 1rem;
   p {
       width: 50%;
       margin: auto;
       border-bottom: 0.11rem solid rgb(255, 192, 75); 
   }
}

input {
    width: 100%;
    border: none;
    text-align: center;
}

.PriceAddPosition {
    width: 1.8rem;
    height: 1.8rem;
    margin-bottom: 1rem;
    border: 0.11rem solid rgb(255, 192, 75);
    border-radius: 50%;
    font-size: 1.2rem;
    text-decoration: none;
    &:hover {
        border: 0.11rem solid green;
    }
}