.containerCreateName {
    margin: auto;
    display: flex;
    justify-content: center;

    button {
        padding: 0rem 1.94rem 0rem;
        max-width: 14rem;
        height: 2.5rem;
        margin-bottom: 1.11rem;
    }

}


