.containerCreateName {
    margin: auto;
    display: flex;
    justify-content: center;

    button {
        padding: 0rem 1.94rem 0rem;
        max-width: 14rem;
        height: 2.5rem;
        margin-bottom: 1.11rem;
    }

}


.suggestionsContainer {
    position: relative;
    .suggestions {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        background-color: #f7f7f7;
        border: 1px solid;
        .suggestion {
            padding: 10px;
            cursor: pointer;
        }
    }
}