@import '../../consts/vars.scss';

.containerCreateName {
    display: flex;
    justify-content: center;
    margin: auto;
    button {
        max-width: 14rem;
        height: 2.5rem;
        margin-bottom: 1.11rem;
        padding: 0rem 1.94rem 0rem;
    }
}

.suggestionsContainer {
    position: relative;
    .suggestions {
        position: absolute;
        top: 2.22rem;
        left: 0rem;
        width: 100%;
        background-color: $main-background-white;
        border: 0.05rem solid;
        .suggestion {
            padding: 0.55rem;
            cursor: pointer;
        }
    }
}

