@import '../../consts/vars.scss';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 0.5rem;
	margin-bottom: 3rem;
	padding: 1rem; 
	color: $main-font-black;
	box-shadow: inset 0px 0px 10px rgba(147, 147, 147, 0.5);
}

.homePage {
	width: 65px;
	height: 65px;
}