
$main-border-gold: rgb(255, 192, 75);
$secondary-border-green: rgb(4, 134, 4);

$main-background-gold: rgb(255, 192, 75);
$main-background-white: rgb(255, 255, 255);
$secondary-background-grey: rgba(238, 235, 235, 0.815);
$secondary-background-header: rgb(48, 48, 48);


$main-font-black: rgb(48, 48, 48);
$secondary-font-green: rgb(4, 134, 4);
$secondary-font-grey: rgb(128,128,128);

