
.dataProject {
	max-width: 27rem;
	margin: auto;
	display: flex;
	flex-direction: column;

    div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    button {
        border: none;
        background-color: white;
        border-top: 0.11rem solid rgb(255, 192, 75);
        font-size: 0.87rem;
        &:hover {
            text-decoration: underline 0.11rem rgb(255, 192, 75);
        }
    }
}

.dataProjectName {
    margin-bottom: 3rem;
    border: 0.14rem solid rgb(255, 192, 75);
    border-radius: 0.44rem;
}





