.dataProject {
	max-width: 27rem;
	margin: auto;
	display: flex;
	flex-direction: column;

    div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.dataProjectName {
    margin-bottom: 3rem;
    border: 0.14rem solid rgb(255, 192, 75);
    border-radius: 0.44rem;
}

.dataDetailsOpen {
    h3 {
        border-bottom: 0.11rem solid rgb(255, 192, 75);
    }
}

button {
    max-width: 5rem;
    margin: auto;
    border: none;
    background-color: white;
    font-size: 0.87rem;
    color: green;
    &:hover {
        text-decoration: underline 0.11rem rgb(255, 192, 75);
    }
}





