@import '../../consts/vars.scss';

table {
	border-collapse: collapse;
	width: 100%;
	td,
	th {
		border: 1px solid #ddd;
		padding: 8px;
	}

	// tr:nth-child(even) {
	// 	background-color: #f2f2f2;
	// }

	// tr:hover {
	// 	background-color: #ddd;
	// }

	thead {
		background-color: $main-background-gold;
		position: sticky;
		top: 0;
		z-index: 10;
        font-size: 16px;
		td {
			font-weight: bold;
			text-align: center !important;
		}
	}

    tbody {
        font-size: 14px;
    }

	tr {
		td {
            text-align: center;
			&:nth-of-type(1) {
				width: 9%;
				text-align: right;
			}
			&:nth-of-type(2) {
                width: 45%;
            }
			&:nth-of-type(3) {
                width: 7%;
            }
			&:nth-of-type(4) {
                width: 7%;
            }
			&:nth-of-type(5) {
				width: 7%;
			}
            &:nth-of-type(6) {
				width: 7%;
			}
            &:nth-of-type(7) {
				width: 13%;
			}
            &:nth-of-type(8) {
				width: 5%;
			}
		}
	}

	input {
		width: 100%;
		border: none;
		border-radius: 0%;
		text-align: center;;
        font-size: 14px;
	}
}

.btns {
    background-color: green;
    button {
        margin: 0%;
        background-color: green;
        color: whitesmoke;
    }
}

.addBtn {
	border: none;
}
