@import '../../consts/vars.scss';

.containerSection {
	width: 100%;

	.section {
		padding: 0%;
		width: 100%;
		display: flex;
		cursor: pointer;
		background-color: $secondary-background-grey;

		input {
			width: 100%;
			border: 1px solid $secondary-background-grey;
			border-radius: 0px;
			text-align: center;
		}
	}

	.subSection {
		padding: 0%;
		width: 100%;
		display: flex;
		cursor: pointer;
		background-color: $secondary-background-grey;

		input {
			width: 100%;
			border: 1px solid $secondary-background-grey;
			border-radius: 0px;
			text-align: center;
		}
	}

}