@import '../../consts/vars.scss';

.section {
	width: 100%;
	.sectionHeader {
		padding: 10px 20px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		background-color: $secondary-background-grey;
		.sectionTitle {
			font-weight: bold;
		}
	}
	.sectionBody {
		padding: 20px;
		// & > .section {}
	}
}