@import '../../consts/vars.scss';

table {
    border-collapse: collapse;
    width: 100%;

    td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    thead {
        background-color: $main-background-gold;

        td {
            font-weight: bold;
            text-align: center;
        }
    }
}