body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-size: 1rem;
}

input {
        padding: 0.44rem;
        margin: auto;
        border: 3px solid rgb(255, 192, 75);
        border-radius: 8px;
        outline: none;
        font-size: 16px;
        font-weight: bold;
        &::placeholder {
            font-size: 14px;
            text-align: center;
        }
    }

.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}





